*~
*.o
*.a
*.log
eclipse/
Debug/
Release/
ipch/
.metadata/
RemoteSystemsTempFiles/
*.sdf
*.suo
*.filters
*.obj
*.log
*.tlog
*.dll
*.lib
*.ilk
*.pch
*.pdb
*.idb
*.bin
*.lastbuildstate
*.out
tools/cepsvalidate/cepsvalidate
core/include/include_gen/
core/src-gen/





